@model IEnumerable<AppMVC.Models.StuffIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StuffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuffDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuffStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StuffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuffDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuffStatus)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @*Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>